In [57]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import VotingClassifier

In [30]:
data = pd.read_csv('Indian Liver Patient Dataset (ILPD).csv', sep = ',')

In [31]:
data.head(2)
data.dropna()

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [32]:
data.is_patient.value_counts()
# 1 - Have Liver Disease 2 - No Liver disease

1    416
2    167
Name: is_patient, dtype: int64

In [34]:
data = pd.get_dummies(data)
X = data.drop('is_patient', 1)
y = data.is_patient

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [35]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               583 non-null    int64
 1   tot_bilirubin     583 non-null    float64
 2   direct_bilirubin  583 non-null    float64
 3   tot_proteins      583 non-null    int64
 4   albumin           583 non-null    int64
 5   ag_ratio          583 non-null    int64
 6   sgpt              583 non-null    float64
 7   sgot              583 non-null    float64
 8   alkphos           579 non-null    float64
 9   gender_Female     583 non-null    uint8
 10  gender_Male       583 non-null    uint8
dtypes: float64(5), int64(4), uint8(2)
memory usage: 42.3 KB

In [42]:
X.isna().sum()

age                 0
tot_bilirubin       0
direct_bilirubin    0
tot_proteins        0
albumin             0
ag_ratio            0
sgpt                0
sgot                0
alkphos             4
gender_Female       0
gender_Male         0
dtype: int64

In [43]:
X.alkphos

0      0.90
1      0.74
2      0.89
3      1.00
4      0.40
       ...
578    0.37
579    1.10
580    1.00
581    1.00
582    1.50
Name: alkphos, Length: 583, dtype: float64

In [50]:
X.alkphos.fillna(X.alkphos.mean(), inplace = True)

In [51]:
X.isna().sum()

age                 0
tot_bilirubin       0
direct_bilirubin    0
tot_proteins        0
albumin             0
ag_ratio            0
sgpt                0
sgot                0
alkphos             0
gender_Female       0
gender_Male         0
dtype: int64

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [55]:
# Instantiate logreg
logreg = LogisticRegression()

# Instantiate knn
knn = KNeighborsClassifier()

# Instantiate dt
dt = DecisionTreeClassifier()

# Define the list classifiers
classifiers = [('Logistic Regression', logreg), ('K Nearest Neighbours', knn), ('Classification Tree', dt)]

In [56]:
# Iterate over the pre-defined list of classifiers
for clf_name, clf in classifiers:    
 
    # Fit clf to the training set
    clf.fit(X_train, y_train)    
   
    # Predict y_pred
    y_pred = clf.predict(X_test)
    
    # Calculate accuracy
    accuracy = accuracy_score(y_test, y_pred) 
   
    # Evaluate clf's accuracy on the test set
    print('{:s} : {:.3f}'.format(clf_name, accuracy))

Logistic Regression : 0.744
K Nearest Neighbours : 0.701
Classification Tree : 0.684

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [58]:
vc = VotingClassifier(estimators = classifiers)
vc.fit(X_train, y_train)
y_pred = vc.predict(X_test)
    
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred) 
# Evaluate clf's accuracy on the test set
print('{:s} : {:.3f}'.format('VotingClassifier', accuracy))

VotingClassifier : 0.752

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,